<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post">
      username:<input type="text" name="username" />
      <br />
      password:<input type="password" name="password" />
      <br />
      password2:<input type="password" name="password2" />
      <br />
      <input type="submit" value="submit" />
      <br />
      {% for msg in get_flashed_messages()%} {{msg}} {%endfor%}
    </form>
  </body>
</html>
